* {box-sizing: border-box;}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'DejaVu Sans', Helvetica, Arial, serif;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: 0 auto;
  padding: 1em 1em;
  width: 900px;
}

/*h2 {*/
  /*margin-top: 50px;*/
  /*margin-bottom: 30px;*/
/*}*/

table {
    border-collapse: collapse;
}

form fieldset {
  padding-top: 0.75em;
    margin-bottom: 0.3em;
}

form div {
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
}

form div > label {
  width: 250px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 20px;
  line-height: 20px;
  padding: 0;
  font-weight: bold;
}

form div > input, form div > select {
  height: 20px;
  margin: 0;
  padding: 0;
}

form ul {
  list-style: none;
  padding: 0;
  vertical-align: top;
}

form div > ul li {
  padding: 0;
  margin-left: 270px;    
}

form div > table {
  padding: 0;
}

form div > table td, form div > table th {
  margin: 0;
  padding: 1px 10px;    
}

form div > table th {
  font-weight: normal;
  background-color: #ddff77;
  color: #000000;
}


form div.submit {
  margin-top: 40px;
  background-color: #99cc33;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

form div.submit button {
  font-weight: bold;
  font-variant: small-caps;
}

table.users {
  /*width: 100%;*/
  border: 1px solid #000;
}

.users tbody > tr > td, .users thead > tr > th {
  padding: 3px 10px;
  border-left: 1px dotted #000000;
  vertical-align: top;
  line-height: 20px;
}

.users tfoot > tr > td {
    padding: 4px 10px;
    text-align: center;
}

.users tbody > tr, .users thead > tr {
  border-bottom: 1px solid #000000;
}

.users th {
  background-color: #99cc33;
}

.users tbody > tr > td > table {
  width: 100%;
  border-collapse: separate;
}

.users tbody > tr > td > table > tbody > tr> td {
  background-color: #ddff77;
  padding: 0 5px;
}

.users tbody > tr > td > table > tbody > tr> td:last-child {
  text-align: right;
}


.fieldError {
    border: 1px solid red;
}

ul.errorlist {
    border: 1px dotted #333;
    margin: 10px 10px 50px 10px;
    padding: 10px;
}

ul.errorlist li {
    list-style: none;
    background-color: #f2d768;
    padding: 5px;
    margin: 3px 0;
}

.logout button {
    font-size: 90%;
}

.detail table {
    /*border: 1px solid #000;*/
    text-align: right;
}

.detail table td:nth-of-type(1) {
    width: 14em;
    vertical-align: top;
}

.detail table td:nth-of-type(2) {
    width: 22em;
}

.detail input, .detail textarea {
    width: 100%;
    margin-right: 2px;
}

textarea[readonly] {
    background-color: #f0f0f0;
}

table.addresses tbody {
    border: 1px dashed #000;
}

table.addresses tbody tr td {
    padding-top: 0.6em;
}

table.addresses tbody td:last-of-type {
    padding-right: 0.5em;
}

table.addresses tfoot tr td {
    padding-top: 0.4em;
    text-align: left;
}

.addresses button {
    margin-bottom: 0.5em;
}

button[name="editAddress"] {
    width: 5em;
}

button[name="newUser"] {
    width: 7em;
}

button[name="save"] {
    width: 8em;
    font-size: 120%;
}