<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Вход в систему</title>
</head>
<body>

<p th:if="${param.error}">
    Неверное имя или пароль.
</p>
<p th:if="${param.logout}">
    Вы вышли из системы.
</p>

<h2 th:if="${param.error == null and param.logout == null}">Вход в нашу систему</h2>

<form th:action="@{/login}" method="post">
    <label>User email:&nbsp;<input type="email" name="username" value="admin@gmail.com"/></label>
    <label>Password:&nbsp;<input type="password" name="password" value="admin"/></label>

    <input type="submit" value="Войти"/>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>

</body>
</html>