<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>System login</title>
</head>
<body>

<p th:if="${param.error}">
    Invalid username and password.
</p>
<p th:if="${param.logout}">
    You have been logged out.
</p>

<h2 th:if="${param.error == null and param.logout == null}">Вход в нашу систему</h2>

<form th:action="@{/login}" method="post">

    <label>User email:&nbsp;<input type="email" name="username" value="admin@gmail.com"/></label>
    <label>Password:&nbsp;<input type="password" name="password" value="admin"/></label>

    <label>&nbsp;<input type="checkbox" name="remember-me"/>Remember me&nbsp;</label>

    <input type="submit" value="Login"/>
</form>

</body>
</html>