<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User details</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{/css/users.css}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        function init() {
            var formAddress = document.getElementById("formAddress");
            var closeAddress = document.getElementById("closeAddress");
            var h3Address = document.getElementById("h3Address");
            var addressCountry = document.getElementById("addressCountry");
            var addressCity = document.getElementById("addressCity");
            var addressStreet = document.getElementById("addressStreet");

            var addressRemove = document.getElementById("addressRemove");
            var h3Remove = document.getElementById("h3Remove");
            var removeOk = document.getElementById("removeOk");
            var closeRemove = document.getElementById("closeRemove");

            document.getElementById("addressCancel").onclick = function() {
                closeAddress.click();
            };
            document.getElementById("removeCancel").onclick = function() {
                closeRemove.click();
            };

            for (var i = 0; i < 1000; i++) {
                var address = document.getElementById("address" + i);
                if (!address) {
                    break;
                }

                refreshAddress(i, address);

                var editAddress = document.getElementById("editAddress" + i);
                editAddress.onclick = function(index) {
                    return function() {
                        var country = document.getElementById("addresses" + index + ".country");
                        var city = document.getElementById("addresses" + index + ".city");
                        var street = document.getElementById("addresses" + index + ".street");

                        h3Address.innerText = "Address" + (index + 1);
                        addressCountry.value = country.value;
                        addressCity.value = city.value;
                        addressStreet.value = street.value;

                        closeAddress.href = "#address" + index;

                        formAddress.onsubmit = function(e) {
                            e.preventDefault();

                            country.value = addressCountry.value;
                            city.value = addressCity.value;
                            street.value = addressStreet.value;

                            refreshAddress(index);

                            closeAddress.click();
                        };
                    };
                }(i);

                var removeAddress = document.getElementById("removeAddress" + i);
                removeAddress.onclick = function(index) {
                    return function() {
                        h3Remove.innerText = "Address" + (index + 1);
                        addressRemove.value = document.getElementById("address" + index).value;
                        removeOk.value = index;
                        closeRemove.href = "#address" + index;
                    };
                }(i);
            }
        }

        function refreshAddress(index, address) {
            if (!address) {
                address = document.getElementById("address" + index);
            }

            address.value = document.getElementById("addresses" + index + ".country").value + ", " +
                document.getElementById("addresses" + index + ".city").value + ", " + document.getElementById("addresses" + index + ".street").value;
        }

        window.addEventListener("load", init, false);
    /*]]>*/
    </script>
</head>
<body>

<h2 id="user-details" th:text="${user.id == 0}? 'New user' : 'Edit user'">User details</h2>

<form id="formUser" class="detail" th:action="@{/user/save}" method="post" th:object="${user}">

    <ul th:if="${#fields.hasErrors()}" class="errorlist">
        <li th:each="err : ${#fields.detailedErrors()}">
            <b th:text="${#strings.capitalize(err.fieldName)} + ': '">Name:</b><span th:text="${err.message}">Input is incorrect</span></li>
    </ul>

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{created}"/>
    <input type="hidden" th:field="*{updated}"/>

    <fieldset>
        <legend>General</legend>
        <table>
            <tr>
                <td><label for="email">Email (login):</label></td>
                <td><input id="email" type="email" name="email" required="required" th:field="*{email}" th:errorclass="fieldError" autocomplete="off"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="password">Password:</label></td>
                <td><input id="password" type="password" name="password" th:required="*{id} == 0" th:field="*{password}" th:errorclass="fieldError"
                           pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])\w{6,}$" autocomplete="off"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" type="text" name="name" required="required" th:field="*{name}" th:errorclass="fieldError"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="role">Role:</label></td>
                <td>
                    <select id="role" name="role" th:field="*{role}">
                        <option th:each="enum: ${T(users.model.UserRole).values()}" th:value="${enum.name()}" th:text="${enum}">User</option>
                    </select>
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Time</legend>
        <table>
            <tr>
                <td><label for="time_zone">TimeZone:</label></td>
                <td>
                    <select id="time_zone" name="time_zone" th:field="*{timeZone}">
                        <option th:each="entry: ${@timeZones.entries}" th:value="${entry.zoneId}" th:text="${entry.display}">+03:00 Europe/Moscow</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <th:block th:if="*{id} != 0">
                <tr>
                    <td>Added time:</td>
                    <td th:text="*{{createdZoneTime}}">01.01.2001</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Edited time:</td>
                    <td th:text="*{{updatedZoneTime}}">01.01.2001</td>
                    <td></td>
                </tr>
            </th:block>
        </table>
    </fieldset>

    <fieldset>
        <legend>Addresses</legend>
        <table class="addresses">
            <tbody>
            <th:block th:each="address, addressStat : *{addresses}" th:with="inputId='address' + ${addressStat.index}">
                <tr>
                    <td><label for="address" th:for="${inputId}" th:text="'Address' + ${addressStat.count}">Address1:</label></td>
                    <td>
                        <textarea id="address" th:id="${inputId}" readonly="readonly">Russia, Moscow, Arbat, 9</textarea>
                        <input type="hidden" th:field="*{addresses[__${addressStat.index}__].country}"/>
                        <input type="hidden" th:field="*{addresses[__${addressStat.index}__].city}"/>
                        <input type="hidden" th:field="*{addresses[__${addressStat.index}__].street}"/>
                    </td>
                </tr>
                <tr class="address-edit">
                    <td></td>
                    <td>
                        <a href="#editAddress"><button th:id="'editAddress' + ${addressStat.index}" type="button" name="edit">Edit</button></a>
                        <a href="#removeAddress"><button th:id="'removeAddress' + ${addressStat.index}" type="button">Remove</button></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><button type="submit" name="addAddress" th:formaction="@{/user/address}" formnovalidate="formnovalidate">New address</button></td>
                </tr>
            </tfoot>
        </table>
    </fieldset>

    <p>
        <button type="submit" name="save">Save</button>
        <a href="users.html" th:href="@{/user/list}"><button type="button" name="cancel">Cancel</button></a>
    </p>
</form>

<div id="editAddress" class="modalDialog">
    <div>
        <a href="#user-details" title="Закрыть" class="close" id="closeAddress">X</a>
        <h3 id="h3Address">Address</h3>

        <form id="formAddress">
            <table>
                <tr>
                    <td><label for="addressCountry">Country:</label></td>
                    <td><input id="addressCountry" type="text" required="required"/></td>
                </tr>
                <tr>
                    <td><label for="addressCity">City:</label></td>
                    <td><input id="addressCity" type="text" required="required"/></td>
                </tr>
                <tr>
                    <td><label for="addressStreet">Street:</label></td>
                    <td><input id="addressStreet" type="text" required="required"/></td>
                </tr>
            </table>

            <p class="addressButtons">
                <button id="addressOk" type="submit">Ok</button>
                <button id="addressCancel" type="button">Cancel</button>
            </p>
        </form>
    </div>
</div>

<div id="removeAddress" class="modalDialog">
    <div>
        <a href="#user-details" title="Закрыть" class="close" id="closeRemove">X</a>
        <h3 id="h3Remove">Remove address</h3>
        <p>Are you sure you want to delete this address?</p>

        <label>
            <textarea id="addressRemove" readonly="readonly">Russia, Moscow, Arbat, 9</textarea>
        </label>

        <p class="removeButtons">
            <button id="removeOk" type="submit" name="removeAddress" form="formUser" th:formaction="@{/user/address}" formnovalidate="formnovalidate">Yes</button>
            <button id="removeCancel" type="button">No</button>
        </p>
    </div>
</div>

</body>
</html>