<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User details</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{/css/users.css}"/>
</head>
<body>

<h2>User details</h2>

<p>All fields are required</p>

<form  class="detail" th:action="@{/user/save}" method="post" th:object="${user}">

    <ul th:if="${#fields.hasErrors('*')}" class="errorlist">
        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
    </ul>

    <fieldset>
        <legend>General</legend>
        <table>
            <tr>
                <td><label for="email">Email:</label></td>
                <td><input id="email" type="email" name="email" required="required" th:field="*{email}" th:errorclass="fieldError"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="name">Name:</label></td>
                <td><input id="name" type="text" name="name" required="required" th:field="*{name}" th:errorclass="fieldError"/></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="role">Role:</label></td>
                <td>
                    <select id="role" name="role" th:field="*{role}">
                        <option th:each="enum: ${T(users.model.UserRole).values()}" th:value="${enum.name()}" th:text="${enum}">User</option>
                    </select>
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Time</legend>
        <table>
            <tr>
                <td><label for="time_zone">TimeZone:</label></td>
                <td>
                    <select id="time_zone" name="time_zone" th:field="*{timeZone}">
                        <option th:each="entry: ${@timeZones.entries}" th:value="${entry.zoneId}" th:text="${entry.display}">+03:00 Europe/Moscow</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Added time:</td>
                <td th:text="*{{createdZoneTime}}">01.01.2001</td>
                <td></td>
            </tr>
            <tr>
                <td>Edited time:</td>
                <td th:text="*{{updatedZoneTime}}">01.01.2001</td>
                <td></td>
            </tr>
        </table>
    </fieldset>

    <fieldset>
        <legend>Addresses</legend>
        <table class="addresses">
            <tbody>
                <tr>
                    <td><label for="address">Address1:</label> </td>
                    <td><textarea id="address" readonly="readonly"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" name="editAddress">Edit</button>&nbsp;&nbsp;
                        <button type="submit" name="removeAddress">Remove</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td><button type="submit" name="addAddress">New address</button></td>
                </tr>
            </tfoot>
        </table>
    </fieldset>

    <p>
        <button type="submit" name="save">Save</button>
    </p>
</form>

</body>
</html>