<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users list</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/css/users.css" th:href="@{/css/users.css}"/>
</head>
<body>

<form class="logout" th:action="@{/logout}" method="post">
    <button type="submit" th:text="'Logout: ' + ${currentUser.name} + ' (' + ${currentUser.role.name()} + ')'">Logout</button>
</form>

<h2>Users list</h2>

<table class="users">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}" th:object="${user}">
            <td th:text="*{email}">some@mail.com</td>
            <td th:text="*{name}">Jon</td>
            <td th:text="*{role.name()}">User</td>
            <td><a href="user.html" th:href="@{/user/update/{id}(id=*{id})}"><button type="button">Edit</button></a></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a href="user.html" th:href="@{/user/create}"><button type="button" name="newUser">New user</button></a></td>
        </tr>
    </tfoot>
</table>

</body>
</html>